<a href="https://colab.research.google.com/github/satyamgipu/Iplt20analysis/blob/master/IPL_T20_Cricket_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Indian Premier League(IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India. The league was founded by the Board of Control for Cricket in India(BCCI) in 2008. </b>

## <b> Explore and analyze the data to discover results and statistics for different teams playing in IPL. </b>

In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
path="/content/drive/My Drive/"
teams=pd.read_csv(path+"teams.csv")
match=pd.read_csv(path+"matches.csv")
Players=pd.read_excel(path+"Players.xlsx")
deliveries=pd.read_csv(path+"deliveries.csv")
teamwise_home_and_away=pd.read_csv(path+"teamwise_home_and_away.csv")
teams=pd.read_csv(path+"teams.csv")
most_runs_average_strikerate=pd.read_csv(path+"most_runs_average_strikerate.csv")

TOSS Vs winners

In [ ]:
Players.head()

      Player_Name        DOB Batting_Hand         Bowling_Skill Country
0  A Ashish Reddy 1991-02-24   Right_Hand      Right-arm medium   India
1      A Chandila 1983-12-05   Right_Hand    Right-arm offbreak   India
2        A Chopra 1977-09-19   Right_Hand    Right-arm offbreak   India
3     A Choudhary        NaT   Right_hand  Left-arm fast-medium     NaN
4     A Dananjaya        NaT   Right_Hand    Right-arm offbreak     NaN

In [ ]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   team1   15 non-null     object
dtypes: object(1)
memory usage: 248.0+ bytes

In [ ]:
most_runs_average_strikerate

            batsman  total_runs  out  numberofballs    average  strikerate
0           V Kohli        5426  152           4111  35.697368  131.987351
1          SK Raina        5386  160           3916  33.662500  137.538304
2         RG Sharma        4902  161           3742  30.447205  130.999466
3         DA Warner        4717  114           3292  41.377193  143.286756
4          S Dhawan        4601  137           3665  33.583942  125.538881
..              ...         ...  ...            ...        ...         ...
511        ND Doshi           0    1             13   0.000000    0.000000
512         J Denly           0    1              1   0.000000    0.000000
513         S Ladda           0    2              9   0.000000    0.000000
514  V Pratap Singh           0    1              1   0.000000    0.000000
515       S Kaushik           0    1              1   0.000000    0.000000

[516 rows x 6 columns]

In [ ]:
teamwise_home_and_away.head(1)

                     team  home_wins  ...  home_win_percentage  away_win_percentage
0  Rising Pune Supergiant          5  ...                 62.5                 62.5

[1 rows x 7 columns]

In [ ]:
deliveries.loc[deliveries["match_id"]==1]

     match_id  inning  ... dismissal_kind          fielder
0           1       1  ...            NaN              NaN
1           1       1  ...            NaN              NaN
2           1       1  ...            NaN              NaN
3           1       1  ...            NaN              NaN
4           1       1  ...            NaN              NaN
..        ...     ...  ...            ...              ...
243         1       2  ...            NaN              NaN
244         1       2  ...            NaN              NaN
245         1       2  ...            NaN              NaN
246         1       2  ...            NaN              NaN
247         1       2  ...        run out  CJ Jordan (sub)

[248 rows x 21 columns]

In [ ]:
Players.head(1)

      Player_Name        DOB Batting_Hand     Bowling_Skill Country
0  A Ashish Reddy 1991-02-24   Right_Hand  Right-arm medium   India

In [ ]:
match.head(1)

   id    Season       city  ...      umpire1   umpire2 umpire3
0   1  IPL-2017  Hyderabad  ...  AY Dandekar  NJ Llong     NaN

[1 rows x 18 columns]

In [ ]:
match.size

13608

In [ ]:
match[match["toss_winner"]==match["winner"]]

        id    Season  ...         umpire2                  umpire3
1        2  IPL-2017  ...          S Ravi                      NaN
2        3  IPL-2017  ...       CK Nandan                      NaN
3        4  IPL-2017  ...   C Shamshuddin                      NaN
4        5  IPL-2017  ...             NaN                      NaN
5        6  IPL-2017  ...        NJ Llong                      NaN
..     ...       ...  ...             ...                      ...
750  11346  IPL-2019  ...   C Shamshuddin           Bruce Oxenford
751  11347  IPL-2019  ...        O Nandan                   S Ravi
753  11413  IPL-2019  ...             NaN                      NaN
754  11414  IPL-2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415  IPL-2019  ...       Ian Gould              Nigel Llong

[393 rows x 18 columns]

In [ ]:
z=match.groupby(["city","winner"]).agg({"winner":"count"})

In [ ]:
z

                                       winner
city          winner
Abu Dhabi     Chennai Super Kings           1
              Kings XI Punjab               2
              Kolkata Knight Riders         1
              Rajasthan Royals              3
Ahmedabad     Delhi Daredevils              1
...                                       ...
Visakhapatnam Kings XI Punjab               1
              Mumbai Indians                2
              Rajasthan Royals              1
              Rising Pune Supergiants       2
              Sunrisers Hyderabad           3

[211 rows x 1 columns]

In [ ]:
deliveries.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [ ]:
deliveries.loc[deliveries["dismissal_kind"].notna(),:].groupby("dismissal_kind").agg({"dismissal_kind":"count"})

                       dismissal_kind
dismissal_kind
bowled                           1581
caught                           5348
caught and bowled                 211
hit wicket                         10
lbw                               540
obstructing the field               2
retired hurt                       12
run out                           852
stumped                           278

In [ ]:
players_dismissed_type=deliveries.loc[deliveries["dismissal_kind"].notna(),:].groupby(["match_id","inning","dismissal_kind"]).agg({"dismissal_kind":"count"})

                                dismissal_kind
match_id inning dismissal_kind
1        1      bowled                       1
                caught                       3
         2      bowled                       2
                caught                       6
                run out                      2
...                                        ...
11415    1      run out                      1
         2      caught                       2
                lbw                          2
                run out                      2
                stumped                      1

[3957 rows x 1 columns]

In [ ]:
deliveries.loc[deliveries["dismissal_kind"].notna(),:]

        match_id  inning  ... dismissal_kind        fielder
11             1       1  ...         caught  Mandeep Singh
64             1       1  ...         caught    Sachin Baby
94             1       1  ...         caught    Sachin Baby
116            1       1  ...         bowled            NaN
160            1       2  ...         bowled            NaN
...          ...     ...  ...            ...            ...
179019     11415       2  ...         caught      Q de Kock
179033     11415       2  ...        run out   Ishan Kishan
179067     11415       2  ...         caught      Q de Kock
179075     11415       2  ...        run out      KH Pandya
179077     11415       2  ...            lbw            NaN

[8834 rows x 21 columns]

In [1]:
delivered

NameError: ignored